<h1 class="main-title">Dictionary with knowing words</h1>
<link rel="stylesheet" href="style.css">

<!-- Content container with our cards -->
<div class="card-container">
    <!-- <div class="card">
        <h3 class="card-heading">Word</h3>
        <p class="card-body">Translated</p>
    </div> -->
</div>

<!-- Dialog window -->
<dialog id="word-dialog" class="center-dialog">
    <div class="wrapper">
        <h3>Please enter a word and its translation</h3>
        <div class="dialog-elements">
            <input type="text" id="word" placeholder="Enter Some Word">
            <input type="text" id="translated" placeholder="Enter translation of the word"> <br>
            <button id="submit">Add</button>
            <button onclick="dialogClose()">Cancel</button>
        </div>
    </div>
</dialog>

<!-- Open Dialog Button -->
<button class="bottom-left-button" onclick="openDialog()">+</button>

<!-- Scripts -->
<script src="dialog.js"></script>
<script src="dict.js"></script>